* text=auto

*.cs text eol=crlf
*.razor text eol=crlf
*.csproj text eol=crlf
*.slnx text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf

*.sh text eol=lf
*.bash text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
