@inherits LayoutComponentBase

<div class="app-layout">
    <nav class="top-nav">
        <a href="/">Billing Management</a>
        <a href="/company-profile">Company profile</a>
    </nav>

    @Body
</div>
